---
import {Image} from "astro:assets";
import playrigLogo from "@assets/images/playrig.png";
---

<div class="fixed left-0 top-0 z-[1] flex h-12 w-full items-center justify-between px-4">
  <div class="flex items-center space-x-1.5">
    <Image
      src={playrigLogo}
      alt="Playrig.fun logo"
      width={25}
      height={25}
      format="webp"
      fit="contain"
      loading="eager"
      fetchpriority="high"
    />
    <p class="mt-px font-polysans text-[20px] font-semibold">Playrig</p>
  </div>

  <div class="flex items-center space-x-10">
    <a
      href="/"
      class="text-[11.477px] text-sm text-black/60 transition-all ease-in hover:text-[#FF2C2C]"
      >// WHO WE ARE</a
    >
    <a
      href="/"
      class="text-[11.477px] text-sm text-black/60 transition-all ease-in hover:text-[#FF2C2C]"
      >// WHAT WE DO</a
    >
    <a
      href="/"
      class="text-[11.477px] text-sm text-black/60 transition-all ease-in hover:text-[#FF2C2C]"
      >// PORTFOLIO</a
    >
  </div>
  <div class="flex items-center space-x-4">
    <button
      class="rounded-sm bg-black px-6 py-2 text-[11.48px] text-white transition-all ease-in hover:bg-[#FF2C2C]">
      GET STARTED
    </button>
  </div>
</div>
