<header
  id="navbar"
  class="fixed left-0 top-0 z-[1] flex h-12 w-full items-center justify-between px-4 transition-colors duration-300">
  <div class="flex items-center space-x-1.5">
    <img
      src="/images/playrig.png"
      id="logo"
      alt="playrig-logo"
      width={25}
      height={25}
      loading="eager"
      fetchpriority="high"
    />
    <p class="mt-px font-polysans text-[20px] font-semibold">Playrig</p>
  </div>

  <nav class="flex items-center space-x-10">
    <a
      data-section="who"
      href="#who"
      class="nav-link text-[11.45px] text-sm transition-all ease-in">// WHO WE ARE</a
    >
    <a
      data-section="what"
      href="#what"
      class="nav-link text-[11.45px] text-sm transition-all ease-in">// WHAT WE DO</a
    >
    <a
      data-section="portfolio"
      href="#portfolio"
      class="nav-link text-[11.45px] text-sm transition-all ease-in">// PORTFOLIO</a
    >
  </nav>

  <div class="flex items-center space-x-4">
    <button
      id="nav-button"
      class="nav-button rounded-sm bg-black px-6 py-2 text-[11.48px] text-white transition-all ease-in hover:bg-[#FF2C2C]">
      GET STARTED
    </button>
  </div>
</header>

<style>
  .nav-link {
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;
  }

  #navbar.text-white .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }

  .nav-link:hover {
    color: #ff2c2c !important;
  }

  .nav-link.active {
    color: #ff2c2c !important;
  }

  .nav-button {
    background-color: black;
    color: white;
  }

  #navbar.text-white .nav-button {
    background-color: white;
    color: black;
  }

  .nav-button:hover {
    background-color: #ff2c2c !important;
    color: white !important;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = Array.from(document.querySelectorAll("a[data-section]"));
    const sections = document.querySelectorAll("section[id]");
    const header = document.getElementById("navbar");
    const logo = document.getElementById("logo") as HTMLImageElement;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const id = entry.target.id;

            if (id === "portfolio") {
              header?.classList.add("text-white");
              logo.src = "/images/playrig-white.png";
            } else {
              header?.classList.remove("text-white");
              logo.src = "/images/playrig.png";
            }
            links.forEach((link) => {
              const section = (link as HTMLElement).dataset.section;
              if (section === id) {
                link.classList.add("active");
              } else {
                link.classList.remove("active");
              }
            });
          }
        });
      },
      {
        rootMargin: "0px",
        threshold: 0.5,
      },
    );

    sections.forEach((section) => observer.observe(section));
  });
</script>
