---
import Layout from "@layouts/Layout.astro";
import {Container} from "@components/ui";
---

<Layout>
  <section>
    <Container>
      <h1
        class="font-polysans mx-auto max-w-[65rem] text-center text-[4.5rem] tracking-[-0.32rem]">
        Building and shaping
      </h1>
      <h2
        class="font-polysans mx-auto -mt-7 max-w-[65rem] text-center text-[4.5rem] tracking-[-0.32rem]">
        <span class="font-polysans-italic">Ideas</span> through <span
          class="font-polysans-italic text-[#FF2C2C]">AI</span
        > and <span class="font-polysans-italic text-[#FF2C2C]">WEB3</span>
      </h2>
    </Container>
  </section>
</Layout>
